@import '../../theme/variables.scss';
page-login {
    .MainLogin{
        background-image: url('../../assets/graphique/background.jpg');
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        .Login{
            padding-top: 70%; 
            position: relative;
            .row {
                .item-input {
                background-color: transparent;
                }
            }
        }       
             
     }
}


