page-addroom {
    .MainAddRoom{
        background-image: url('../../assets/graphique/background.jpg');
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }

}
