page-sign-up {
    .MainSignup{
        background-image: url('../../assets/graphique/background.jpg');
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }
    .SignUp{
        padding-top: 70%; 
        position: relative;
    }

}
