<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="header-title">
    <ion-title>SmartHomeApp</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopovernotif($event)">
         <ion-icon name="notifications-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="logout()">logout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class = "mainWelcome">
  <ion-slides pager>

    <ion-slide *ngIf="home == 1">
      <h2 class = "textCol" >Alarme</h2>
      <ion-grid> 
        <ion-row class = "FirstRow">
            <ion-col class = "textCol">
                Alarme Porte D'Entrée
            </ion-col >
            <ion-col class="Alarme">
              <ion-item *ngIf="present == 0">
                  <button class ="ButtonStyle" ion-button full color="secondary" (click)="activepresence(name)">Activer</button>
              </ion-item>
                <ion-item *ngIf="present == 1">
                    <button class ="ButtonStyle" ion-button full color="danger"(click)="desactivepresence(name)"  >Desactiver</button>
                </ion-item>
            </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class ="FirstRow">
          <ion-col class = "textCol">
            Alarme De Movement
          </ion-col> 
          <ion-col class=Alarme>
              <ion-item *ngIf="porte==0">
                <button class = "ButtonStyle" ion-button full color="secondary">Activer</button>
              </ion-item> 
              <ion-item *ngIf = "porte == 1">
                <button class ="ButtonStyle" ion-button full color="danger">Desactiver</button>
              </ion-item>  
          </ion-col>
        </ion-row>
      </ion-grid>
      <h2 class = "textCol">Lumiére Génerale</h2>
        <ion-grid>
          <ion-row class ="FirstRow">
            <ion-col class = "Génnerale">
              <ion-item>
                  <button class ="ButtonStyle" ion-button full color="secondary"  (click)="active">Activer</button>
              </ion-item>
            </ion-col>
            <ion-col class = "Génnerale">
                <ion-item>
                    <button class ="ButtonStyle" ion-button full color="danger"  (click)="active">Désactiver</button>
                </ion-item>
              </ion-col>
          </ion-row>
        </ion-grid>
        <h2 class = "textCol">Climatisation Génerale</h2>
        <ion-grid>
          <ion-row class ="FirstRow">
            <ion-col class = "Génnerale">
              <ion-item>
                  <button class ="ButtonStyle" ion-button full color="secondary" (click)="active">Activer</button>
              </ion-item>
            </ion-col>
            <ion-col class = "Génnerale">
                <ion-item>
                    <button class ="ButtonStyle" ion-button full color="danger"  (click)="active">Désactiver</button>
                </ion-item>
              </ion-col>
          </ion-row>
        </ion-grid>
        <ion-fab right bottom >
            <button class="AddRoom" ion-fab color="light">AddRoom</button>
        </ion-fab>
    </ion-slide>
    <ion-slide *ngFor = "let room of rooms">
      <div><h1 class = "textCol"> {{room.name}} </h1></div>
      <ion-grid>
        <ion-row class="roomstyle">
          <ion-col>
            <h5 class="H5Style"> Temperature </h5>
          </ion-col >
          <ion-col col-2 >  
          </ion-col>
          <ion-col >
              <h6> {{room.temperature}} °C</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row class="roomstyle">
            <ion-col >
               <h5 class="H5Style">Humidité</h5>
            </ion-col>
            <ion-col col-2>
            </ion-col>
            <ion-col>
             <h6> {{room.humidite}}%</h6>
            </ion-col>
          </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class ="roomstyle"> 
          <ion-col >
           <h5 class="H5Style">Lumiére</h5>
          </ion-col>
          <ion-col col-3>
          </ion-col>
          <ion-col class="update">
            <ion-toggle [(ngModel)]="notify" (ngModelChange)="update(room.name, name)" ></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class ="roomstyle">
          <ion-col >
           <h5 class ="H5Style">Climatiseur</h5>
          </ion-col>
          <ion-col col-3>
          </ion-col>
          <ion-col class ="update">
            <ion-toggle [(ngModel)]="notifyclima" (ngModelChange)="updateclima(room.name, name)"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
      <h1 class = "textCol" >Mode Automatique</h1>
      <ion-grid>
        <ion-row class="roomstyle">
          <ion-col>
             <h5 class=" H5Style ">Lumiére</h5>
          </ion-col >
          <ion-col col-3> </ion-col>
          <ion-col class="update">
            <ion-item *ngIf="room.alumauto=='false'">
                <button class="ButtonStyle" ion-button full color="secondary" (click)="activerlampeauto(room.name, name)">activer</button>
            </ion-item>
            <ion-item *ngIf="room.alumauto=='true'">
                <button class="ButtonStyle" ion-button full color="danger" (click)="deactiverlampeauto(room.name, name)" >désactiver</button>
            </ion-item>
          </ion-col>
          </ion-row>
        </ion-grid>
  
        <ion-grid>
          <ion-row class = "roomstyle">
            <ion-col >
              <h5 class=" H5Style">Climatiseur</h5>
            </ion-col >
            <ion-col col-3> </ion-col>
            <ion-col class="update">
              <ion-item *ngIf="room.climaauto=='false'">
                <button class="ButtonStyle" ion-button full color="secondary"  (click)="activerclimaauto(room.name, name)">activer </button>
              </ion-item>
              <ion-item *ngIf="room.climaauto=='true'">
                <button class="ButtonStyle" ion-button full color="danger"   (click)="deactiverclimaauto(room.name, name)">désactiver </button>
              </ion-item>
              </ion-col>
          </ion-row>
        </ion-grid>
        <h2 class="textCol">Mode Localisation</h2>
        <ion-grid>
            <ion-row class="roomstyle">
                <ion-col >
                  <h5 class=" H5Style "> Lumiére</h5>
                </ion-col >
                <ion-col col-3> </ion-col>
                <ion-col class="update">
                    <ion-item *ngIf="room.alumlocation=='false'">
                        <button class="ButtonStyle" ion-button full color="secondary"  (click)="activerlampelocalisation(room.name, name)" >activer</button>
                    </ion-item>
                    <ion-item *ngIf="room.alumlocation=='true'">
                        <button class="ButtonStyle" ion-button full color="danger"   (click)="deactiverlampelocalisation(room.name, name)"  >désactiver</button>
                    </ion-item>
                </ion-col>
              </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row class="roomstyle">
              <ion-col>
                <h5 class = "H5Style">Climatiseur</h5>
              </ion-col >
              <ion-col col-3> </ion-col>
              <ion-col>
                <ion-item *ngIf="room.climalocation=='false'">
                  <button class = "ButtonStyle" ion-button full color="secondary" (click)="activerclimalocalisation(room.name, name)" >activer </button>
                </ion-item>
                <ion-item *ngIf="room.climalocation=='true'">
                  <button class = "ButtonStyle" ion-button full color="danger" (click)="deactiverclimalocalisation(room.name, name)"  >désactiver </button>
                </ion-item>
              </ion-col> 
            </ion-row>
          </ion-grid>
          <ion-fab right bottom >
            <button class="AddRoom" ion-fab color="light" (click)="pageroom()"></button>
          </ion-fab>
        </ion-slide>
      </ion-slides>
  </ion-content>
