<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="header-title">
    <ion-title>SmartHomeApp</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopovernotif($event)">
         <ion-icon name="notifications-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="logout()">logout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class = "mainWelcome">
  <ion-slides pager>

    <ion-slide >
            <h2 class = "textCol">
                Alarme Porte D'Entrée
            </h2 >
            <ion-grid> 
              <ion-row class = "FirstRow">
            <ion-col class="Génerale">
              <ion-row center text-center *ngIf="presence == 0">
                  <button  ion-button full color="lightText" (click)="activedesactive(true)">Activer</button>
              </ion-row>
                <ion-row center text-center *ngIf="presence  == 1">
                    <button  ion-button full color="lightText"(click)="activedesactive(false)"  >Desactiver</button>
                </ion-row>
            </ion-col>
        </ion-row>
      </ion-grid>
      <h2 class = "textCol">
          Alarme De Movement
        </h2>
      <ion-grid>
        <ion-row class ="FirstRow"> 
          <ion-col class="Génerale">
              <ion-row center text-center *ngIf="porte==0">
                <button  ion-button full color="lightText" (click)= "acitverdesactivemove(true)">Activer</button>
              </ion-row> 
              <ion-row center text-center *ngIf = "porte == 1">
                <button  ion-button full color="lightText" (click)="acitverdesactivemove(false)">Desactiver</button>
              </ion-row>  
          </ion-col>
        </ion-row>
      </ion-grid>
      <h2 class = "textCol">Lumiére Génerale</h2>
        <ion-grid>
          <ion-row class ="FirstRow">
            <ion-col class = "Génnerale">
              <ion-row center text-center>
                  <button class ="ButtonStyle" ion-button full color="lightText"  (click)="dessactiverlumgenerale(true)">Activer</button>
              </ion-row>
            </ion-col>
            <ion-col class = "Génnerale">
                <ion-row center text-center>
                    <button class ="ButtonStyle" ion-button full color="lightText"  (click)="dessactiverlumgenerale(false)">Désactiver</button>
                </ion-row>
              </ion-col>
          </ion-row>
        </ion-grid>
        <h2 class = "textCol">Climatisation Génerale</h2>
        <ion-grid>
          <ion-row class ="FirstRow">
            <ion-col class = "Génnerale">
              <ion-row center text-center>
                  <button class ="ButtonStyle" ion-button full color="lightText" (click)="dessactiverclimgenerale(true)">Activer</button>
              </ion-row>
            </ion-col>
            <ion-col class = "Génnerale">
                <ion-row center text-center>
                    <button class ="ButtonStyle" ion-button full color="lightText"  (click)="dessactiverclimgenerale(false)">Désactiver</button>
                </ion-row>
              </ion-col>
          </ion-row>
        </ion-grid>
        <ion-fab right bottom >
            <button class="AddRoom" ion-fab color="light">AddRoom</button>
        </ion-fab>
    </ion-slide>
    <ion-slide *ngFor = "let room of rooms">
      <div><h1 class = "textCol"> {{room.name}} </h1></div>
      <ion-grid>
        <ion-row class="roomstyle">
          <ion-col>
            <h5 class="H5Style"> Temperature </h5>
          </ion-col >
          <ion-col col-2 >  
          </ion-col>
          <ion-col >
              <h6> {{room.temperature}} °C</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row class="roomstyle">
            <ion-col >
               <h5 class="H5Style">Humidité</h5>
            </ion-col>
            <ion-col col-2>
            </ion-col>
            <ion-col>
             <h6> {{room.humidite}}%</h6>
            </ion-col>
          </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class ="roomstyle"> 
          <ion-col >
           <h5 class="H5Style">Lumiére</h5>
          </ion-col>
          <ion-col col-3>
          </ion-col>
          <ion-col class="update">
            <ion-toggle [(ngModel)]="notify" (ngModelChange)="update(room.name, name)" ></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class ="roomstyle">
          <ion-col >
           <h5 class ="H5Style">Climatiseur</h5>
          </ion-col>
          <ion-col col-3>
          </ion-col>
          <ion-col class ="update">
            <ion-toggle [(ngModel)]="notifyclima" (ngModelChange)="updateclima(room.name, name)"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
        <h2 class="textCol">Mode Localisation</h2>
        <ion-grid>
            <ion-row class="roomstyle">
                <ion-col >
                  <h5 class=" H5Style "> Lumiére</h5>
                </ion-col >
                <ion-col col-3> </ion-col>
                <ion-col class="update">
                    <ion-row center text-center *ngIf="room.alumlocation=='false'">
                        <button class="ButtonStyle" ion-button full color="lightText"  (click)="activerlampelocalisation(room.name,true)" >activer</button>
                    </ion-row>
                    <ion-row center text-center *ngIf="room.alumlocation=='true'">
                        <button class="ButtonStyle" ion-button full color="lightText"   (click)="activerlampelocalisation(room.name, false)"  >désactiver</button>
                    </ion-row>
                </ion-col>
              </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row class="roomstyle">
              <ion-col>
                <h5 class = "H5Style">Climatiseur</h5>
              </ion-col >
              <ion-col col-3> </ion-col>
              <ion-col>
                <ion-row center text-center *ngIf="room.climalocation=='false'">
                  <button class = "ButtonStyle" ion-button full color="lightText" (click)="activerclimalocalisation(room.name, true)" >activer </button>
                </ion-row>
                <ion-row center text-center *ngIf="room.climalocation=='true'">
                  <button class = "ButtonStyle" ion-button full color="lightText" (click)="activerclimalocalisation(room.name, false)"  >désactiver </button>
                </ion-row>
              </ion-col> 
            </ion-row>
          </ion-grid>
          <ion-fab right bottom >
            <button class="AddRoom" ion-fab color="lightText" (click)="pageroom()"></button>
          </ion-fab>
        </ion-slide>
      </ion-slides>
  </ion-content>
